name: release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Get Next Version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ github.token }}
          branch: main
      
      - name: Display Outputs
        run: |
          echo ${{ steps.semver.outputs.current }}
          echo ${{ steps.semver.outputs.next }}
          echo ${{ steps.semver.outputs.nextStrict }}
          echo ${{ steps.semver.outputs.nextMajor }}
          echo ${{ steps.semver.outputs.nextMajorStrict }}
          echo ${{ steps.server.outputs.bump }}
